page essay a-title {
  font-weight: bold;
  font-size: 2em;
  font-family: Noto Serif TC;
  min-width: 290px;
}
page essay p {
  width: 100%;
  min-width: 290px;
  margin: 1em 0;
  margin-top: 3em;
  line-height: 2em;
}
page essay p + p {
  margin-top: 1em;
}
